// Specific CSS for your home-page
body {
color: black;
text-shadow: 5px;
}

header {
  height: 95vh;
  background-image:linear-gradient(to left bottom, #5da5a738,#2472b649),
    url(https://img.freepik.com/free-vector/people-library-flat-vector-illustration_74855-6607.jpg?t=st=1657703356~exp=1657703956~hmac=cb368d0843f2b8834c0e0c21c0fad2db532046811d5b7d07ebf9c03a710b32dd&w=1800);
  block-size: cover;
  background-position: top;
  position: relative;
  // clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%)
}

.logo-box {
  position: absolute;
  top: 40px;
  left: 40px;
}

.logo-box img {
  height: 100px;
  width: 100px;
  border-radius: 25px;
  animation: moveInLeft 2s;
}

.logo-box img:hover {
  transform: scale(1.2);
}

.text-box {
  position:absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
 }

 .main-text {
  display: block;
  animation: moveInLeft 1s ease-in;
  font-size: 55px;
  font-weight: 400;
  letter-spacing: 13.5px;
 }

 .sub-text {
  display: block;
  animation: moveInRight 2s ease-out;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 12.5px;
 }


 @keyframes moveInRight {
    0% {
      opacity: 0.2;
      transform: translateX(100px);
    }

    50% {
      transform: rotate(-90deg);
    }

    100% {
      opacity: 1;
      transform: translate(0);
    }
 }

 @keyframes moveInLeft {
    0% { opacity: 0.2;
      transform: translateX(-100px);
    }
    100%{
      opacity: 1;
      transform: translate(0);
    }

 }
