<header>
  <div class="logo-box">
    <img src="https://cdn4.vectorstock.com/i/1000x1000/51/58/book-reader-icon-vector-3095158.jpg" alt="logo">
  </div>

  <div class="text-box">
    <h1>
      <span class="main-text">WELCOME TO MY LIBRARY</span>
      <span class="sub-text">Exchange Books and Ideas</span>
    </h1>
    <a href="">More about the content</a>
  </div>
</header>
